.hide {
  display: none !important;
}

/*HEADER STYLES*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #dce2e6;
  margin-bottom: 1em;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #f4f6f7;
}

.filtering-buttons {
  width: 50%;
  margin-left: 2em;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.hogwarts-logo {
  width: 5%;
  height: 5%;
  margin-right: 2em;
}

.page-header {
  display: flex;
  padding-top: 8em;
  margin-bottom: 2em;
  align-items: baseline;
}

.sorting-buttons {
  margin-left: auto;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}

.firstname-button,
.lastname-button,
.house-button {
  margin-left: 1em;
  margin-bottom: 0.2em;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.sltyherin {
  background-color: #588c39;
  color: #c0b1c6;
}
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-title,
.removed-title,
.squad-title {
  margin-left: 1em;
}

.student-list,
.removed-list,
.squad-list {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f6f7;
  border-radius: 8px;
  box-shadow: 8px 8px 50px 0px lightgrey;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white;
}

th {
  color: black;
  text-align: center;
  padding-bottom: 8px;
  color: #2557ab;
}

td.student_name {
  padding: 2.5em 0px;
}

.student {
  text-align: center;
  color: white;
  padding: 0.5em;
  margin-bottom: 3em;
  border: 2px solid white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  border-radius: 4px;
  transition: all 4s ease;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/*
.hufflepuff-button {
  background-color: #ffc02a;
  color: #0b0000;
}

.gryffindor-button {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.ravenclaw-button {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin-button {
  background-color: #588c39;
  color: #c0b1c6;
}*/

button.remove-button,
button.details-button,
button.squad-button {
  display: inherit;
  width: 100%;
  margin-top: 0.5em;
}

.student-list-headers {
  display: flex;
  align-items: center;
}

.fade-away {
  transition: opacity 4s ease-in;
  opacity: 0;
}

.removed-student-list-headers,
.squad-student-list-headers {
  display: flex;
  padding: 4em 0 2em 0;
  align-items: center;
}

h2.student-counter,
h2.removed-student-counter,
h2.squad-counter {
  margin-left: 0.5em;
}

.modal {
  width: 0;
  opacity: 0;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  background-color: #dce2e6;
  text-align: center;
  /* top: 50%; */
  /* left: 50%; */
  right: 0;
  top: 2em;
  /* transform: translate(-50%, -50%); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  padding: 1em;
}

img.modal-img {
  margin-top: 1em;
}

img.modal-crest {
  width: 50%;
}

.modal-house {
  margin-bottom: 1em;
}

.close-modal {
  position: absolute;
  top: 7%;
  right: 3%;
  color: red;
  cursor: pointer;
  font-size: 24px;
}

/* DROPDOWN MENU : https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-sort {
  padding: 2em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 250, 0.2);
  padding: 12px 16px;
  margin-bottom: 0.5em;
  z-index: 1;
  right: 0;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
